<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <style>
        body {
            margin: 0;
        }
    </style>
</head>
<body>
<!--<canvas id="canvas"></canvas>-->
<div id="app">
    <div style="position: fixed;background: #fff;height: 50px;top: 0;left: 0;width: 100%">
        <span @click="setC(1)">1</span>
        <span @click="setC(2)">2</span>
    </div>
    <Keep v-if='show'>
        <Route ></Route>
    </Keep>
</div>
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
<!--<script src="https://cdn.staticfile.org/react/16.4.0/umd/react.development.js"></script>-->
<!--<script src="https://cdn.staticfile.org/react-dom/16.4.0/umd/react-dom.development.js"></script>-->
<script src="https://cdn.staticfile.org/babel-standalone/6.26.0/babel.min.js"></script>
<script src="https://cdn.bootcss.com/axios/0.19.0/axios.min.js"></script>
<script>
    // Object.keys(React).forEach(item=>{
    //     console.log(item)
    // })
    let cacheDom = {}
    Vue.component('Keep', {
        props: ['show'],
        data() {
            return {
                child: null
            }
        },
        render(createElement) {
            const vNode = this.$slots.default && this.$slots.default[0]
            if (vNode && vNode.componentOptions) {
                var key = vNode.componentOptions.tag
                if (cacheDom[key]) {
                    vNode.componentInstance = cacheDom[key].componentInstance
                } else {
                    cacheDom[key] = vNode
                }
                vNode.data.keepAlive = true;
            }
            return vNode || (this.$slots.default && this.$slots.default[0]) || null
        },
        // destroyed () {
        //     const vNode = this._vnode
        //     if (vNode && vNode.componentOptions) {
        //         var key = vNode.componentOptions.tag
        //         cacheDom[key] = vNode
        //     }
        // },
    })
    Vue.component('Route', {
        data() {
            const list = []
            for (let i = 0; i < 100; i++) {
                list.push(i)
            }
            return {
                list,
            }
        },
        methods: {
            setCs(index) {
                // this.list[index] =
                this.list.splice(index, 1, this.list[index] + 'sd')
            }
        },
        template: '<div key="path1"><div @click="setCs(index)" v-for="(item,index) in list"><p>{{item}}</p></div></div>',
    })
    const instance = new Vue({
        el: '#app',
        data() {
            return {
                show: true,
            }
        },
        methods: {
            setC(index) {
                this.show = !this.show
            }
        },
    })
</script>
</body>
</html>
